.search-bar {
  box-shadow: 2px 2px 4px #0c0c0c;
  background: #5f5f5f;

  input, input:focus {
    background: #424241;
    color: white;
    border: none;
  }

  button {
    background: #353535;
    color: white;
  }
}
